<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reveal-md</title>
        <link rel="stylesheet" href="css/reveal.css" tppabs="http://localhost:1948/css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" tppabs="http://localhost:1948/css/theme/black.css" id="theme">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css" tppabs="http://localhost:1948/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="css/print/%27 + ( window.location.search.match( /print-pdf/gi ) - %27pdf%27 - %27paper%27 ) + %27.css"/*tpa=http://localhost:1948/css/print/%27 + ( window.location.search.match( /print-pdf/gi ) ? %27pdf%27 : %27paper%27 ) + %27.css*/ type="text/css" media="print">' );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides"><section  data-markdown><script type="text/template">## Chapter 10 - Laravel Web Application
</script></section><section  data-markdown><script type="text/template">
### Controller & Route

Terminal

	php artisan make:controller EmployeeController --resource

app/Http/routes.php

	Route::group(['middleware' => ['web']], function () {
		Route::resource('employees', 'EmployeeController');
	});

Terminal

	php artisan route:list
</script></section><section  data-markdown><script type="text/template">
### Route List

List

	GET http://localhost:8000/employees

Create

	GET http://localhost:8000/employees/create
	POST http://localhost:8000/employees

Detail

	GET http://localhost:8000/employees/:id
</script></section><section  data-markdown><script type="text/template">
Edit

	GET http://localhost:8000/employees/:id/edit
	PUT http://localhost:8000/employees/:id

Delete

	DELETE http://localhost:8000/employees/:id
</script></section><section  data-markdown><script type="text/template">
### Blade Template Engine

Files Location

	+-resources
		+-views
			|-master.blade.php
			+-employees
			|	|-index.blade.php
			|	|-show.blade.php
			|	|-create.blade.php
			|	|-...
</script></section><section  data-markdown><script type="text/template">
### Master Layout

resources/views/master.blade.php

	<html>
	<head>
		<meta charset="utf-8">
		<title>Laravel 5</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
	</head>

	<body>
		<h3>Laravel 5 Master Page</h3>
		<h3>@yield('title')</h3>
		@section('content')
			<h3>Master Page Content</h3>
		@show
	</div>
	</body>
	</html>
</script></section><section  data-markdown><script type="text/template">
### `@extend`

resources/views/employees/index.blade.php

	@extends('master')

	@section('title', 'Employees List')

	@section('content')
		@parent

		<p>Child Content</p>
	@endsection

app/Http/Controllers/EmployeeController.php

	public function index()
	{
		return view('employees.index');
	}

Browser

	http://localhost:8000/employees
</script></section><section  data-markdown><script type="text/template">
### View & Data

app/Http/Controllers/EmployeeController.php

	public function index()
	{
		$foo = 'Foo';
		$bar = 'Bar';
		return view('employees.index', compact('foo', 'bar'));
		// or
		return view('employees.index', ['foo' => $foo, 'bar' => $bar]);
		// or
		return view('employees.index')
			->with(['foo' => $foo])->with(['bar' => $bar]);
		// or
		return view('employees.index')
			->withFoo($foo)->withBar($bar);
	}

resources/views/employees/index.blade.php

	@extends('master')

	@section('content')
		<p>{{ $foo }}</p>
	@endsection
</script></section><section  data-markdown><script type="text/template">
### Comments & AngularJS `{{ }}`

Blade

	{{--
		These are multi lines comments
	--}}

	@{{ 'AngularJS' }}
</script></section><section  data-markdown><script type="text/template">
### Unescaped Data (`htmlentities`)

app/Http/Controllers/EmployeeController.php

	public function index()
	{
		$foo = '<b>Foo</b>';

		return view('employees.index', compact('foo'));
	}

resources/views/employees/index.blade.php

	@extends('master')

	@section('content')
		<p>Escaped: {{ $foo }}</p>
		<p>Unescaped: {!! $foo !!}</p>
	@endsection
</script></section><section  data-markdown><script type="text/template">
### Eloquent (Model)

Terminal

	php artisan make:model Employee
</script></section><section  data-markdown><script type="text/template">
### Employee List

app/Http/Controllers/EmployeeController.php

	public function index()
	{
		$employees = \App\Employee::all();

		return view('employees.index', compact('employees'));
	}

resources/views/employees/index.blade.php

	@section('content')
		@foreach($employees as $e)
			<p>{{ $e->first_name }}</p>
		@endforeach
	@endsection
</script></section><section  data-markdown><script type="text/template">
### Conditional

resources/views/employees/index.blade.php

	@foreach($employees as $e)
		<p>
			{{ $e->first_name }},
			@if($e->gender=='M')
				Male
			@else
				Female
			@endif
		</p>
	@endforeach
</script></section><section  data-markdown><script type="text/template">
### Helper Function

app/Helpers/gender.php

	<?php

	function genderHelper($gender)
	{
		return ($gender == 'M') ? 'Male' : 'Female';
	}

resources/views/employees/index.blade.php

	@section('content')
		@foreach($employees as $e)
			<p>
				{{ $e->first_name }},
				{{ genderHelper($e->gender) }}
			</p>
		@endforeach
	@endsection
</script></section><section  data-markdown><script type="text/template">
composer.json

	"autoload": {

		"files": [
			"app/Helpers/gender.php"
		]
	},

Terminal

	composer dump-autoload
</script></section><section  data-markdown><script type="text/template">
## Quiz 01

resources/views/employees/index.blade.php

	<table>
		...
	</table>
</script></section><section  data-markdown><script type="text/template">
## Quiz 02

resources/views/employees/show.blade.php

	...

app/Http/Controllers/EmployeeController.php

	public function show($id)
	{
		...
	}

Browser

	http://localhost:8000/employees/:id
</script></section><section  data-markdown><script type="text/template">
### Pagination

app/Http/Controllers/EmployeeController.php

	public function index()
	{
		$employees = \App\Employee::paginate(10);

		return view('employees.index', compact('employees'));
	}

resources/views/employees/index.blade.php

	@foreach($employees as $e)
		...
	@endforeach

	{{ $employees->links() }}
</script></section><section  data-markdown><script type="text/template">
### Employee Creation

app/Http/Controllers/EmployeeController.php

	public function create()
	{
		return view('employees.create');
	}

	public function store(Request $request)
	{
		$employee = request()->all();
		dd($employee);
	}
</script></section><section  data-markdown><script type="text/template">
resources/view/employees/create.blade.php

	@extends('master')

	@section('content')
		<form action="/employees" method="post">
			<input type="submit" value="Save">
		</form>
	@endsection

Browser

	http://localhost:8000/employees/create
</script></section><section  data-markdown><script type="text/template">
### Form Input Fields

resources/view/employees/create.blade.php

	<input type="text" name="first_name">
	<input type="text" name="last_name">
	<input type="radio" value="M" name="gender" checked>Male
	<input type="radio" value="F" name="gender">Female

	<input type="submit" value="Save">
	<input type="reset" value="Cancel">
</script></section><section  data-markdown><script type="text/template">
### CSRF Protection

resources/view/employees/create.blade.php

	<form action="/employees" method="post">

		{{ csrf_field() }}

		<!-- or -->
		<input type="hidden" name="_token" value="{{ csrf_token() }}">

	</form>

Output

	<input type="hidden" name="_token" value="w19vwHOFjCF5Y4HvSl...">
</script></section><section  data-markdown><script type="text/template">
### Validation

app/Http/Controllers/EmployeeController.php

	public function store(Request $request)
	{
		$rules = [
			'first_name' => 'required|min:5',
			'last_name' => 'required|min:5'
		];

		$this->validate($request, $rules);

		// database process
	}
</script></section><section  data-markdown><script type="text/template">
### Restore Input Data

resources/views/employees/create.blade.php

	<input type="text" name="first_name" value="{{old('first_name')}}">

	@if(!old('gender') || old('gender') == 'M')
		<input type="radio" value="M" name="gender" checked>Male
		<input type="radio" value="F" name="gender">Female
	@else
		<input type="radio" value="M" name="gender">Male
		<input type="radio" value="F" name="gender" checked>Female
	@endif
</script></section><section  data-markdown><script type="text/template">
### Validation Error Message

resources/views/employees/create.blade.php

	@if ($errors->has('first_name'))
		<p>
			{{ $errors->first('first_name') }}
		</p>
	@endif
</script></section><section  data-markdown><script type="text/template">
### Database Insert Operation

app/Http/Controllers/EmployeeController.php

	$this->validate($request, $rules);

	try {
		$employeeEloquent = new \App\Employee();
		$employeeEloquent->first_name = $employee['first_name'];
		$employeeEloquent->last_name = $employee['last_name'];
		$employeeEloquent->gender = $employee['gender'];
		$employeeEloquent->save();
		session()->flash('message', 'Inserted');
		return redirect('employees');
	} catch (Exception $e) {
		abort(500);
	}

resources/views/employees/index.blade.php

	{{ session('message') }}
</script></section><section  data-markdown><script type="text/template">
### Employee Removal

URL

	DELETE http://localhost:8000/employees/:id

resources/views/employees/index.blade.php

	@foreach($employees as $e)
		<form action="/employees/{{$e->id}}" method="post">

			{{ csrf_field() }}

			<input type="submit" value="Delete">
		</form>
	@endforeach

app/Http/Controllers/EmployeeController.php

	public function destroy($id)
	{
		return $id;
	}
</script></section><section  data-markdown><script type="text/template">
### HTTP Verb Overriden

DELETE

	<form method="post">

		<input type="hidden" name="_method" value="DELETE">

	</form>
</script></section><section  data-markdown><script type="text/template">
## Quiz 03

app/Http/Controllers/EmployeeController.php

	$employeeEloquent = \App\Employee::find($id);
	$employeeEloquent->delete();
</script></section><section  data-markdown><script type="text/template">
### Employee Edit

URL

	GET http://localhost:8000/employees/:id/edit
	PUT http://localhost:8000/employees/:id
</script></section><section  data-markdown><script type="text/template">
## Quiz 04

PUT

	<form method="post">
		<input type="hidden" name="_method" value="PUT">
	</form>

app/Http/Controllers/EmployeeController.php

	$employeeEloquent = \App\Employee::find($id);

	$employeeEloquent->first_name = $employee['first_name'];
	$employeeEloquent->last_name = $employee['last_name'];
	$employeeEloquent->gender = $employee['gender'];

	$employeeEloquent->save();
</script></section><section  data-markdown><script type="text/template">
### HTTP Status Code

4xx Client Error

	401 Unauthorized
	403 Forbidden
	404 Not Found

5xx Server Error

	500 Internal Server Error
	503 Service Unavailable
</script></section><section  data-markdown><script type="text/template">
### Error Handler

app/Http/routes.php

	Route::get('/error', function() {
		abort(503);
	});

Browser

	localhost:8000/error
</script></section><section  data-markdown><script type="text/template">
app/Http/routes.php

	Route::get('/error', function() {
		abort(403);
	});

resources/views/errors/403.blade.php

	<h3>Error 403</h3>

Browser

	localhost:8000/error
</script></section><section  data-markdown><script type="text/template">
resources/views/errors/404.blade.php

	<h3>Page not Found</h3>

Browser

	http://localhost:8000/xxx
</script></section><section  data-markdown><script type="text/template">
## End</script></section></div>
        </div>

        <script src="lib/js/head.min.js" tppabs="http://localhost:1948/lib/js/head.min.js"></script>
        <script src="js/reveal.js" tppabs="http://localhost:1948/js/reveal.js"></script>

        <script>
            function extend() {
              var target = {};
              for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                  if (source.hasOwnProperty(key)) {
                    target[key] = source[key];
                  }
                }
              }
              return target;
            }

            // Optional libraries used to extend on reveal.js
            var deps = [
              { src: 'lib/js/classList.js'/*tpa=http://localhost:1948/lib/js/classList.js*/, condition: function() { return !document.body.classList; } },
              { src: 'plugin/markdown/marked.js'/*tpa=http://localhost:1948/plugin/markdown/marked.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/markdown/markdown.js'/*tpa=http://localhost:1948/plugin/markdown/markdown.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/highlight/highlight.js'/*tpa=http://localhost:1948/plugin/highlight/highlight.js*/, async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'plugin/notes/notes.js'/*tpa=http://localhost:1948/plugin/notes/notes.js*/, async: true, condition: function() { return !!document.body.classList; } },
              { src: 'plugin/math/math.js'/*tpa=http://localhost:1948/plugin/math/math.js*/, async: true }
            ];

            // default options to init reveal.js
            var defaultOptions = {
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'default',
              dependencies: deps
            };

            // options from URL query string
            var queryOptions = Reveal.getQueryHash() || {};

            var options = {
  "slideNumber": "c / t",
  "history": true,
  "transition": "slide",
  "backgroundTransition": "zoom"
};
            options = extend(defaultOptions, options, queryOptions);
            Reveal.initialize(options);
        </script>
        
          <script src="scripts/rabbit-slide.js" tppabs="http://localhost:1948/scripts/rabbit-slide"></script>
    </body>
</html>
