<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reveal-md</title>
        <link rel="stylesheet" href="css/reveal.css" tppabs="http://localhost:1948/css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" tppabs="http://localhost:1948/css/theme/black.css" id="theme">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css" tppabs="http://localhost:1948/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="css/print/%27 + ( window.location.search.match( /print-pdf/gi ) - %27pdf%27 - %27paper%27 ) + %27.css"/*tpa=http://localhost:1948/css/print/%27 + ( window.location.search.match( /print-pdf/gi ) ? %27pdf%27 : %27paper%27 ) + %27.css*/ type="text/css" media="print">' );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides"><section  data-markdown><script type="text/template">## Chapter 11 - Authentication & Authorization
</script></section><section  data-markdown><script type="text/template">
## Authentication
</script></section><section  data-markdown><script type="text/template">
### Migration

database/migrations/xxx_create_users_table.php

	public function up()
	{
		Schema::create('users', function (Blueprint $table) {
			$table->increments('id');
			$table->string('name');
			$table->string('email')->unique();
			$table->string('password');
			$table->boolean('is_admin');
			$table->string('api_token')->unique();
			$table->rememberToken();
			$table->timestamps();
		});
	}

Terminal

	php artisan migrate
</script></section><section  data-markdown><script type="text/template">
### Dummy User

Tinker

	$user = new \App\User

	$user->name = 'Admin'
	$user->email = 'admin@xyz.com'
	$user->password = \Hash::make('12345')
	$user->is_admin = true
	$user->api_token = 12345

	$user->save()
</script></section><section  data-markdown><script type="text/template">
## API Authentication
</script></section><section  data-markdown><script type="text/template">
### Protected Route

app/Http/routes.php

	Route::group([
		'middleware' => ['api', 'auth:api'], 'prefix' => 'api'
	], function () {
		Route::resource('employees', 'Api\EmployeeController', [
			'except' => ['create', 'edit']
		]);
	});

Browser

	http://localhost:8000/api/employees
</script></section><section  data-markdown><script type="text/template">
### API Token

Browser

	http://localhost:8000/api/employees?api_token=12345
</script></section><section  data-markdown><script type="text/template">
## Web Authentication
</script></section><section  data-markdown><script type="text/template">
### Protected Route

app/Http/routes.php

	Route::group(['middleware' => ['web', 'auth']], function () {
		Route::resource('employees', 'EmployeeController');
	});

Browser

	http://localhost:8000/employees
</script></section><section  data-markdown><script type="text/template">
### Controller

Terminal

	php artisan make:controller AuthenController

app/Http/Controllers/AuthenController.php

	class AuthenController extends Controller
	{
		public function getLogin()
		{
		}

		public function postLogin()
		{
		}

		public function logout()
		{
		}
	}
</script></section><section  data-markdown><script type="text/template">
app/Http/routes.php

	Route::group(['middleware' => ['web']], function () {
		Route::get('login', 'AuthenController@getLogin');
		Route::post('login', 'AuthenController@postLogin');
		Route::get('logout', 'AuthenController@logout');
	});
</script></section><section  data-markdown><script type="text/template">
### Login Form

resources/views/authens/login.blade.php

	@extends('master')

	@section('content')
		<form action="/login" method="post" accept-charset="utf-8">
			{{ csrf_field() }}
			<input type="email" name="email" value="{{ old('email') }}">
			<input type="password" name="password">

			<input type="submit" value="Login">
			<input type="reset" value="Cancel">
		</form>
	@stop

app/Http/Controllers/AuthenController.php

	public function getLogin()
	{
		return view('authens.login');
	}
</script></section><section  data-markdown><script type="text/template">
app/Http/Controllers/AuthenController.php

	public function postLogin()
	{
		$credentials = request()->all();
		unset($credentials['_token']);

		if (\Auth::attempt($credentials)) {
			return redirect()->intended('/');
		}  else {
			session()->flash('message', 'Authentication Failed');
			return redirect()->back()
				->withInput(request()->except(['password']));
		}
	}

resources/views/authens/login.blade.php

	{{ session()->get('message') }}
</script></section><section  data-markdown><script type="text/template">
### Logout

app/Http/Controllers/AuthenController.php

	public function logout()
	{
		\Auth::logout();
		return redirect('/');
	}
</script></section><section  data-markdown><script type="text/template">
### Manual Login

Controller

	$credentials = request()->all();

	$user = \App\User::where('email', $credentials['email'])
		->first();

	if (\Hash::check($credentials['password'], $user->password)) {

		// $user must be eloquent
		\Auth::login($user);

		...
	}

Using ID

	\Auth::loginUsingId(1);
</script></section><section  data-markdown><script type="text/template">
### State

Controller

	if (\Auth::check()) {
		// logged in
	} else {
		// not logged in
	}

Blade

	@if (Auth::check())
		You are logged in
	@else
		You are not logged in
	@endif
</script></section><section  data-markdown><script type="text/template">
### User Info

Controller

	// after logged in
	$user = \Auth::user();

	$user_id = $user->id;
	$email = $user->email;
</script></section><section  data-markdown><script type="text/template">
## Authorization
</script></section><section  data-markdown><script type="text/template">
### Authorization - Policy

app/Providers/AuthServiceProvider.php

	class AuthServiceProvider extends ServiceProvider
	{
		public function boot(GateContract $gate)
		{
			$this->registerPolicies($gate);

			$gate->define('list-employees', function($user) {
				return false;
			});
		}
	}
</script></section><section  data-markdown><script type="text/template">
### Authorization

app/Http/Controllers/EmployeeController

	class EmployeeController extends Controller
	{
		public function index()
		{
			if (\Gate::allows('list-employees')) {
				return "Your have permission";
			} else {
				return "Your don't have permission";
			}
		}
	}

Browser

	http://localhost:8000/employees
</script></section><section  data-markdown><script type="text/template">
### Role Based Policy

app/Providers/AuthServiceProvider.php

	class AuthServiceProvider extends ServiceProvider
	{
		public function boot(GateContract $gate)
		{
			parent::registerPolicies($gate);

			$gate->define('list-employees', function($user) {
				return $user->is_admin;
			});
		}
	}
</script></section><section  data-markdown><script type="text/template">
## End</script></section></div>
        </div>

        <script src="lib/js/head.min.js" tppabs="http://localhost:1948/lib/js/head.min.js"></script>
        <script src="js/reveal.js" tppabs="http://localhost:1948/js/reveal.js"></script>

        <script>
            function extend() {
              var target = {};
              for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                  if (source.hasOwnProperty(key)) {
                    target[key] = source[key];
                  }
                }
              }
              return target;
            }

            // Optional libraries used to extend on reveal.js
            var deps = [
              { src: 'lib/js/classList.js'/*tpa=http://localhost:1948/lib/js/classList.js*/, condition: function() { return !document.body.classList; } },
              { src: 'plugin/markdown/marked.js'/*tpa=http://localhost:1948/plugin/markdown/marked.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/markdown/markdown.js'/*tpa=http://localhost:1948/plugin/markdown/markdown.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/highlight/highlight.js'/*tpa=http://localhost:1948/plugin/highlight/highlight.js*/, async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'plugin/notes/notes.js'/*tpa=http://localhost:1948/plugin/notes/notes.js*/, async: true, condition: function() { return !!document.body.classList; } },
              { src: 'plugin/math/math.js'/*tpa=http://localhost:1948/plugin/math/math.js*/, async: true }
            ];

            // default options to init reveal.js
            var defaultOptions = {
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'default',
              dependencies: deps
            };

            // options from URL query string
            var queryOptions = Reveal.getQueryHash() || {};

            var options = {
  "slideNumber": "c / t",
  "history": true,
  "transition": "slide",
  "backgroundTransition": "zoom"
};
            options = extend(defaultOptions, options, queryOptions);
            Reveal.initialize(options);
        </script>
        
          <script src="scripts/rabbit-slide.js" tppabs="http://localhost:1948/scripts/rabbit-slide"></script>
    </body>
</html>
