<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reveal-md</title>
        <link rel="stylesheet" href="css/reveal.css" tppabs="http://localhost:1948/css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" tppabs="http://localhost:1948/css/theme/black.css" id="theme">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css" tppabs="http://localhost:1948/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="css/print/%27 + ( window.location.search.match( /print-pdf/gi ) - %27pdf%27 - %27paper%27 ) + %27.css"/*tpa=http://localhost:1948/css/print/%27 + ( window.location.search.match( /print-pdf/gi ) ? %27pdf%27 : %27paper%27 ) + %27.css*/ type="text/css" media="print">' );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides"><section  data-markdown><script type="text/template">## Chapter 17 - Laravel & AngularJS
</script></section><section  data-markdown><script type="text/template">
### File Locations

	+-public
	|	+-app
	|	|	+-views
	|	|	app.js
	|	+-css
	|	+-js
	+-resources
	|	+-views
	|	|	+-angulars
	|	|	|	|-index.blade.php
	|	|	|-master.blade.php
</script></section><section  data-markdown><script type="text/template">
app/Http/routes.php

	Route::get('/', function () {
		return view('angulars.index');
	});
</script></section><section  data-markdown><script type="text/template">
### Blade Template & AngularJS

resources/views/master.blade.php

	<body ng-app="app">
		<script src="js/angular.min.js">__SCRIPT_END__
		<script src="app/app.js">__SCRIPT_END__
	</body>

resources/views/angulars/index.blade.php

	<h3>@{{ 'AngularJS' }}</h3>
</script></section><section  data-markdown><script type="text/template">
## End</script></section></div>
        </div>

        <script src="lib/js/head.min.js" tppabs="http://localhost:1948/lib/js/head.min.js"></script>
        <script src="js/reveal.js" tppabs="http://localhost:1948/js/reveal.js"></script>

        <script>
            function extend() {
              var target = {};
              for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                  if (source.hasOwnProperty(key)) {
                    target[key] = source[key];
                  }
                }
              }
              return target;
            }

            // Optional libraries used to extend on reveal.js
            var deps = [
              { src: 'lib/js/classList.js'/*tpa=http://localhost:1948/lib/js/classList.js*/, condition: function() { return !document.body.classList; } },
              { src: 'plugin/markdown/marked.js'/*tpa=http://localhost:1948/plugin/markdown/marked.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/markdown/markdown.js'/*tpa=http://localhost:1948/plugin/markdown/markdown.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/highlight/highlight.js'/*tpa=http://localhost:1948/plugin/highlight/highlight.js*/, async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'plugin/notes/notes.js'/*tpa=http://localhost:1948/plugin/notes/notes.js*/, async: true, condition: function() { return !!document.body.classList; } },
              { src: 'plugin/math/math.js'/*tpa=http://localhost:1948/plugin/math/math.js*/, async: true }
            ];

            // default options to init reveal.js
            var defaultOptions = {
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'default',
              dependencies: deps
            };

            // options from URL query string
            var queryOptions = Reveal.getQueryHash() || {};

            var options = {
  "slideNumber": "c / t",
  "history": true,
  "transition": "slide",
  "backgroundTransition": "zoom"
};
            options = extend(defaultOptions, options, queryOptions);
            Reveal.initialize(options);
        </script>
        
          <script src="scripts/rabbit-slide.js" tppabs="http://localhost:1948/scripts/rabbit-slide"></script>
    </body>
</html>
