<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reveal-md</title>
        <link rel="stylesheet" href="css/reveal.css" tppabs="http://localhost:1948/css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" tppabs="http://localhost:1948/css/theme/black.css" id="theme">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css" tppabs="http://localhost:1948/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="css/print/%27 + ( window.location.search.match( /print-pdf/gi ) - %27pdf%27 - %27paper%27 ) + %27.css"/*tpa=http://localhost:1948/css/print/%27 + ( window.location.search.match( /print-pdf/gi ) ? %27pdf%27 : %27paper%27 ) + %27.css*/ type="text/css" media="print">' );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides"><section  data-markdown><script type="text/template">## Chapter 01 - AngularJS
</script></section><section  data-markdown><script type="text/template">
### Concepts

- Front End
- Back End
</script></section><section  data-markdown><script type="text/template">
## DOM (Document Object Model)
</script></section><section  data-markdown><script type="text/template">
## AJAX (Asyncronous JavaScript and XML)
</script></section><section  data-markdown><script type="text/template">
### DOM + AJAX

- jQuery
- AngularJS
</script></section><section  data-markdown><script type="text/template">
### jQuery (JavaScript Library)

- DOM
- AJAX
</script></section><section  data-markdown><script type="text/template">
### AngularJS (JavaScript Framework)

- DOM
- AJAX
- MVC
- Modularized
- Depedency Injection
- Unit Testing
</script></section><section  data-markdown><script type="text/template">
### File Structure

	+-ng-course
		|-01.html
</script></section><section  data-markdown><script type="text/template">
### HTML

01.html

	<html>
		<head>
			<title>AngularJS</title>
		</head>

		<body>
			<h3>AngularJS</h3>
			<p>{{ 'Hello World' }}</p>
		</body>
	</html>

Browser

	localhost:8080/01.html
</script></section><section  data-markdown><script type="text/template">
### Chrome Developer Tool

<img src="images/003.png"/*tpa=http://localhost:1948/images/003.png*/ style="border:none;">
</script></section><section  data-markdown><script type="text/template">
### AngularJS Setup

01.html

	<html ng-app>
		<head>
			<script src="js/angular.min.js">__SCRIPT_END__
		</head>

		<body>
		</body>
	</html>
</script></section><section  data-markdown><script type="text/template">
### Angular Expression

01.html

	<body>

		<p>{{ 'Hello World' }}</p>
		<p>{{ 10 + 20 }}</p>

	</body>
</script></section><section  data-markdown><script type="text/template">
### Directive `ng-init`

01.html

	<div ng-init="price=50;qty=25">

		<p>Amount: {{ price * qty }}</p>
		<p>Amount: {{ price * qty | currency }}</p>
		<p>Amount: {{ price * qty | currency:'THB' }}</p>

	</div>
</script></section><section  data-markdown><script type="text/template">
### Directive `ng-model`

01.html

	<input type="text" ng-model="name">
	<p>Name: {{ name }}</p>
</script></section><section  data-markdown><script type="text/template">
## 2-Way Data Binding
</script></section><section  data-markdown><script type="text/template">
### Directive `ng-model`

01.html

	<input type="radio" value="Yes" ng-model="like">I like
	<input type="radio" value="No" ng-model="like">I don't like

	<p>Your Answer: {{ like }}</p>

> Initialize Radio Button ?
</script></section><section  data-markdown><script type="text/template">
### Directive `ng-model`

01.html

	<select ng-model="food">
		<option value="Rice">Rice</option>
		<option value="Noodle">Noodle</option>
		<option value="Soup">Soup</option>
	</select>

	Your Order: {{ food }}
</script></section><section  data-markdown><script type="text/template">
### Directive `ng-click`

01.html

	<button ng-click="counter=counter+1">Count</button>

	<p>Counter: {{ counter }}</p>
</script></section><section  data-markdown><script type="text/template">
### Directive `ng-if`

01.html

	<div ng-init="show=true">

		<p ng-if="show" style="background-color: red;">Red</p>
		<p ng-if="!show" style="background-color: green;">Green</p>

		<button ng-click="show=!show">Toggle</button>

	</div>
</script></section><section  data-markdown><script type="text/template">
## End</script></section></div>
        </div>

        <script src="lib/js/head.min.js" tppabs="http://localhost:1948/lib/js/head.min.js"></script>
        <script src="js/reveal.js" tppabs="http://localhost:1948/js/reveal.js"></script>

        <script>
            function extend() {
              var target = {};
              for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                  if (source.hasOwnProperty(key)) {
                    target[key] = source[key];
                  }
                }
              }
              return target;
            }

            // Optional libraries used to extend on reveal.js
            var deps = [
              { src: 'lib/js/classList.js'/*tpa=http://localhost:1948/lib/js/classList.js*/, condition: function() { return !document.body.classList; } },
              { src: 'plugin/markdown/marked.js'/*tpa=http://localhost:1948/plugin/markdown/marked.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/markdown/markdown.js'/*tpa=http://localhost:1948/plugin/markdown/markdown.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/highlight/highlight.js'/*tpa=http://localhost:1948/plugin/highlight/highlight.js*/, async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'plugin/notes/notes.js'/*tpa=http://localhost:1948/plugin/notes/notes.js*/, async: true, condition: function() { return !!document.body.classList; } },
              { src: 'plugin/math/math.js'/*tpa=http://localhost:1948/plugin/math/math.js*/, async: true }
            ];

            // default options to init reveal.js
            var defaultOptions = {
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'default',
              dependencies: deps
            };

            // options from URL query string
            var queryOptions = Reveal.getQueryHash() || {};

            var options = {
  "slideNumber": "c / t",
  "history": true,
  "transition": "slide",
  "backgroundTransition": "zoom"
};
            options = extend(defaultOptions, options, queryOptions);
            Reveal.initialize(options);
        </script>
        
          <script src="scripts/rabbit-slide.js" tppabs="http://localhost:1948/scripts/rabbit-slide"></script>
    </body>
</html>
