<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>reveal-md</title>
        <link rel="stylesheet" href="css/reveal.css" tppabs="http://localhost:1948/css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" tppabs="http://localhost:1948/css/theme/black.css" id="theme">
        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css" tppabs="http://localhost:1948/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
          document.write( '<link rel="stylesheet" href="css/print/%27 + ( window.location.search.match( /print-pdf/gi ) - %27pdf%27 - %27paper%27 ) + %27.css"/*tpa=http://localhost:1948/css/print/%27 + ( window.location.search.match( /print-pdf/gi ) ? %27pdf%27 : %27paper%27 ) + %27.css*/ type="text/css" media="print">' );
        </script>
    </head>
    <body>

        <div class="reveal">
            <div class="slides"><section  data-markdown><script type="text/template">## Chapter 02 - AngularJS Application
</script></section><section  data-markdown><script type="text/template">
### File Structure

	+-ng-course
		|-02.html
		+-app
			+-02
				|-app.js
</script></section><section  data-markdown><script type="text/template">
### Setup

app/02/app.js

	// create angular module A02
	var app = angular.module('A02', []);

02.html

	<html ng-app="A02">
	<head>

		<script src="js/angular.min.js">__SCRIPT_END__
		<script src="app/02/app.js">__SCRIPT_END__

	</head>
	</html>

Browser

	http://localhost:8080/02.html
</script></section><section  data-markdown><script type="text/template">
### Controller

app/02/app.js

	app.controller('HomeController', function() {
		console.log('Hello World');
	});

02.html

	<body>
		<div ng-controller="HomeController">
		</div>
	</body>
</script></section><section  data-markdown><script type="text/template">
### `$scope`

app/02/app.js

	app.controller('HomeController', function($scope) {
		$scope.name = 'AngularJS';
	})

02.html

	<div ng-controller="HomeController">
		<p>{{ name }}</p>
	</div>
</script></section><section  data-markdown><script type="text/template">
### Controller's Function

app/02/app.js

	app.controller('HomeController', function($scope) {
		$scope.foo = function() {
			console.log('Foo !!!');
		};

		$scope.powerNumber = function(value) {
			console.log(value * value);
		};
	});

02.html

	<div ng-controller="HomeController">
		<button ng-click="foo()">Call foo()</button>
		<button ng-click="powerNumber(15)">Power Number</button>
	</div>
</script></section><section  data-markdown><script type="text/template">
## Quiz

02.html

	Price: <input type="text">
	Qty: <input type="text">

	<button>Calculate</button>

	<p>Result: </p>
</script></section><section  data-markdown><script type="text/template">
### `ng-repeat`

app/02/app.js

	app.controller('EmployeeController', function($scope) {
		$scope.employees = [
			{
				"id":"10001",
				"birthDate":"1953-09-02",
				"firstName":"Georgi",
				"lastName":"Facello"
			},
			...
		];
	});

02.html

	<div ng-controller="EmployeeController">
		<p ng-repeat="e in employees">
			{{ e.id }} {{ e.firstName + ' ' + e.lastName }}
		</p>
	</div>
</script></section><section  data-markdown><script type="text/template">
### `ng-repeat` with Filter

02.html

	<!-- Filter by any fields -->
	<input type="text" ng-model="query">

	<!-- Filter by firstName -->
	<input type="text" ng-model="query.firstName">

	<p>{{ query }}</p>

	<p ng-repeat="e in employees | filter: query">
		...
	</p>
</script></section><section  data-markdown><script type="text/template">
### `ng-repeat` with Multiple Fields Filter

02.html

	<p ng-repeat="... | filter:{'firstName':'xxx',lastName:'yyy'}">
		...
	</p>
</script></section><section  data-markdown><script type="text/template">
### `ng-repeat` with Sort

02.html

	<!-- Ascending -->
	<input type="radio" ng-model="sort" value="firstName">
	<input type="radio" ng-model="sort" value="lastName">

	<!-- Descending -->
	<input type="radio" ng-model="sort" value="-firstName">

	{{ sort }}

	<p ng-repeat="e in employees | filter: query | orderBy: sort">
		...
	</p>
</script></section><section  data-markdown><script type="text/template">
### `ng-repeat` with Multiple Fields Sort

02.html

	<p ng-repeat="... | orderBy: ['firstName', 'lastName']">
		...
	</p>
</script></section><section  data-markdown><script type="text/template">
## Quiz

02.html

	<table>
		<tr>
			...
			<td>
				<span ng-if="...">Male</span>
				<span ng-if="...">Female</span>
			</td>
		</tr>
	</table>
</script></section><section  data-markdown><script type="text/template">
## End
</script></section></div>
        </div>

        <script src="lib/js/head.min.js" tppabs="http://localhost:1948/lib/js/head.min.js"></script>
        <script src="js/reveal.js" tppabs="http://localhost:1948/js/reveal.js"></script>

        <script>
            function extend() {
              var target = {};
              for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                  if (source.hasOwnProperty(key)) {
                    target[key] = source[key];
                  }
                }
              }
              return target;
            }

            // Optional libraries used to extend on reveal.js
            var deps = [
              { src: 'lib/js/classList.js'/*tpa=http://localhost:1948/lib/js/classList.js*/, condition: function() { return !document.body.classList; } },
              { src: 'plugin/markdown/marked.js'/*tpa=http://localhost:1948/plugin/markdown/marked.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/markdown/markdown.js'/*tpa=http://localhost:1948/plugin/markdown/markdown.js*/, condition: function() { return !!document.querySelector('[data-markdown]'); } },
              { src: 'plugin/highlight/highlight.js'/*tpa=http://localhost:1948/plugin/highlight/highlight.js*/, async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
              { src: 'plugin/notes/notes.js'/*tpa=http://localhost:1948/plugin/notes/notes.js*/, async: true, condition: function() { return !!document.body.classList; } },
              { src: 'plugin/math/math.js'/*tpa=http://localhost:1948/plugin/math/math.js*/, async: true }
            ];

            // default options to init reveal.js
            var defaultOptions = {
              controls: true,
              progress: true,
              history: true,
              center: true,
              transition: 'default',
              dependencies: deps
            };

            // options from URL query string
            var queryOptions = Reveal.getQueryHash() || {};

            var options = {
  "slideNumber": "c / t",
  "history": true,
  "transition": "slide",
  "backgroundTransition": "zoom"
};
            options = extend(defaultOptions, options, queryOptions);
            Reveal.initialize(options);
        </script>
        
          <script src="scripts/rabbit-slide.js" tppabs="http://localhost:1948/scripts/rabbit-slide"></script>
    </body>
</html>
